*{
    font-family: 'Sofia Sans', sans-serif;
}

body{
    height: 100vh;
    margin: 0px;
    min-width: 1060px !important;
    padding: 0px;
    box-sizing: border-box;
    background: linear-gradient(135deg, #f72585, #7209b7, #3a0ca3, #4361ee, #4cc9f0);
    background-size: 150%;
    animation: bg-animation 18s infinite;
}

.start-screen{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title{
    position: absolute;
    top: 80px;
    z-index: 2;
    margin: 0px;
    font-size: 80px;
    color: white;
}

.dice-title{
    position: relative;
    animation: moving-dice 1.5s infinite;
}

.start-modal{
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.input-title{
    font-size: 26px;
    font-weight: 800;
    color: black;
}

.input-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player-input{
    width: 300px;
    padding: 10px 12px;
    margin: 10px 0px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.player-input:focus{
    transform: scale(1.1);
    outline: none;
}

.start-button{
    background-color: #480CA8;
    color: white;
    cursor: pointer;
    margin-top: 40px;
    padding: 12px 80px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.3s;
}

.start-button:hover{
    transform: translate(0%, 10%);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Game Field */
.game-screen{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-field{
    position: relative;
    height: 600px;
    width: 1000px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.player-field{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
}

/* Players Board */
.player-name{
    font-size: 68px;
    margin: 0px;
}

.total-score{
    font-size: 60px;
    margin: 0px 0px 200px 0px ;
}

.current-score-board{
    background-color: rgb(58, 12, 163, 0.35);
    padding: 30px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.current-score-title{
    font-size: 30px;
    margin: 0px 0px 0px 0px;
}

.current-score-value{
    font-size: 30px;
    margin: 0px;
    color: white;
}

/* Game Buttons Style */
.custom-btn{
    position: absolute;
    font-size: 24px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 15px;
    border-radius: 10px;
    color: black;
    transition: 0.4s;
}

.custom-btn:hover{
    font-weight: 900;
    background-color: #480CA8;
    color: white;
}

.game-icon{
    margin: 0px 6px 0px 0px;
}

/* Game Buttons */
.new-game-btn{
    top: 15px;
    left: 50%;
    transform: translate(-50%, -0%);
}

.roll-dice-btn{
    bottom: 135px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.hold-score-btn{
    bottom: 75px;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* Dice Section */
.dice-background{
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice-face{
    width: 120px;
}

/* Javascript Classes */
.hidden{
    display: none !important;
}

.player-active{
    background-color: rgba(255, 255, 255, 0.3);
}

.player-winner{
    background-color: rgb(255, 220, 94, 0.6);
}

/* Loader Element */
.loader-ring{
    position: absolute;
    top: 225px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loader-ring:after{
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    margin: auto;
    border-radius: 50%;
    border: 8px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loading-animation 1.5s linear infinite;
}

/* Custom Animations */
@keyframes moving-dice{
    0% {top: 0px;}
    50% {top: 10px;}
    100% {top: 0px;}
}

@keyframes loading-animation{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes bg-animation{
    0% {background-position: 0%;}
    50% {background-position: 100%;}
    100% {background-position: 0%;}
}